blog-backend/mongo-data/WiredTigerHS.wt
blog-backend/mongo-data/WiredTiger.wt
blog-backend/mongo-data/WiredTiger.turtle
blog-backend/mongo-data/WiredTiger.lock
blog-backend/mongo-data/WiredTiger
blog-backend/mongo-data/storage.bson
blog-backend/mongo-data/sizeStorer.wt
blog-backend/mongo-data/mongod.lock
blog-backend/mongo-data/index-8-6030887296553715680.wt
blog-backend/mongo-data/index-6-6030887296553715680.wt
blog-backend/mongo-data/index-5-6030887296553715680.wt
blog-backend/mongo-data/index-3-6030887296553715680.wt
blog-backend/mongo-data/index-1-6030887296553715680.wt
blog-backend/mongo-data/collection-7-6030887296553715680.wt
blog-backend/mongo-data/collection-4-6030887296553715680.wt
blog-backend/mongo-data/collection-2-6030887296553715680.wt
blog-backend/mongo-data/collection-0-6030887296553715680.wt
blog-backend/mongo-data/_mdb_catalog.wt
